/* H1 */
.markdown-preview-view h1,
.cm-header-1 {
    color: #66bfbf;
}

/* H2 */
.markdown-preview-view h2,
.cm-header-2 {
    color: #edb1f1;
}

/* H3 */
.markdown-preview-view h3,
.cm-header-3 {
    color: #fcfefe;
}

/* H4 */
.markdown-preview-view h4,
.cm-header-4 {
    color: #f76b8a;
}